* {
  font-family: Arial, Helvetica, sans-serif;
}

.col-inf th {
  font-weight: normal;
  text-align: center;
  align-items: center;
  justify-items: center;
  vertical-align: middle;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-center {
  font-size: 15px !important;
}

.payment-box div div {
  border: 1px solid rgb(188, 184, 184);
  border-top: 0px;
  color: rgb(106, 104, 104);
  font-size: 15px;
}
.label {
  border-right: 0px !important;
}

input:focus,
input:active {
  outline: black;
}
