.stick {
  border: 1px solid black;
}

.motor-inf {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16.5px;
}

.form-select:focus,
.form-select:active {
  outline: none !important;
  box-shadow: none !important;
}

.select-type {
  background-color: rgb(243, 243, 243) !important;
  border: 0px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: rgb(106, 104, 104) !important;
  padding: 12px 0px 12px 13px !important;
}
.form-check {
  font-size: 13.5px !important;
}

.form-check-input:focus,
.form-check-input:active {
  outline: none !important;
  box-shadow: none !important;
}

.select-title {
  background-color: rgb(243, 243, 243) !important;
  border: 0px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: rgb(106, 104, 104) !important;
  padding: 12px 0px 12px 13px !important;
}

.select-title:focus,
.select-title:active {
  outline: none !important;
  box-shadow: none !important;
}

.ui-datepicker-trigger {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: 6px;
  vertical-align: middle;
  display: inline-block;
}

.form-check:focus,
.form-check:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-sub {
  font-size: 17px !important;
  transition: ease-in-out 0.3s !important;
}

.btn-sub:hover {
  background-color: black !important;
}
