@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=League+Spartan:wght@100..900&family=Roboto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:wght@900&display=swap");
* {
  font-family: "Inter", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/*Navbar*/
.navbar {
  width: 100%;
  position: fixed;
  background-color: #272222;
  top: 0;
  left: 0;
  align-items: center;
  padding: 16px 0px 16px 25px;
  display: flex;
  z-index: 1000;
}

.navbar a {
  width: auto;
  height: auto;
}

.navbar ul {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  gap: 60px;
  margin-right: 40px;
}

.navbar ul li {
  position: relative;
  list-style: none;
  margin: 9px 0 0 0;
}

.navbar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: Arial;
  word-wrap: break-word;
  width: 100%;
  font-weight: 400;
  padding-bottom: 27px;
}

.navbar ul li a:hover {
  color: #636363;
  transition: all 0.1s ease-in-out;
}

.navbar a:hover img {
  filter: brightness(0%);
  transition: filter 0.3s ease;
}

.location img {
  width: 32px;
  height: 32px;
  margin-bottom: -22px;
}

.logo {
  width: 40px;
  height: 30px;
}

.stick {
  transform: rotate(90deg);
  transform-origin: top left;
  height: 1px;
  width: 26px;
  background-color: white;
  margin-top: -3px;
}

/*Navbar*/
.navbar {
  width: 100%;
  position: fixed;
  background-color: #272222;
  top: 0;
  left: 0;
  align-items: center;
  padding: 16px 0px 16px 25px;
  display: flex;
}

.navbar a {
  width: auto;
  height: auto;
}

.navbar ul {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  gap: 60px;
  margin-right: 40px;
}

.navbar ul li {
  position: relative;
  list-style: none;
  margin: 9px 0 0 0;
}

.navbar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: Arial;
  word-wrap: break-word;
  width: 100%;
  font-weight: 400;
  padding-bottom: 27px;
}

.navbar ul li a:hover {
  color: #636363;
  transition: all 0.1s ease-in-out;
}

.navbar a:hover img {
  filter: brightness(50%);
  transition: filter 0.1s ease;
}

.location img {
  width: 32px;
  height: 32px;
  margin-bottom: -22px;
}

.logo {
  width: 40px;
  height: 30px;
}

.stick {
  transform: rotate(90deg);
  transform-origin: top left;
  height: 1px;
  width: 26px;
  background-color: white;
  margin-top: -3px;
}

.morenavbar {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 65px;
  left: 0;
  align-items: center;
  display: none;
  justify-content: right;
  justify-items: center;
  background-color: white;
  /*overflow: hidden*/
}

.morenavbar a {
  width: auto;
  height: auto;
}

.morenavbar ul {
  top: 0%;
  right: 0%;
  display: flex;
  gap: 10px;
  margin-right: 380px;
}

.morenavbar ul li {
  list-style: none;
}

.morenavbar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: Arial;
  word-wrap: break-word;
  width: 100%;
  font-weight: 700;
  margin-left: 0px;
}
.morenavbar ul li a:hover {
  color: #a72c2c;
  transition: all 0.1s ease-in-out;
}

.dropdown:hover .morenavbar {
  display: block;
}

.dropdown:hover .overlay {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-right: 0px;
  opacity: 30%;
}

.dropdown1:hover .morenavbar {
  display: block;
}

.dropdown1:hover .overlay {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-right: 0px;
  opacity: 30%;
}
.overlay {
  margin-top: 105px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
  z-index: 1;
}
/*.blurbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: -1;
    display: none;
}*/

/*Main*/
.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main {
  padding-top: 30px;
  width: 1400px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  top: 0;
  text-align: center;
}

.stick2 {
  transform: rotate(90deg);
  transform-origin: top left;
  height: 1px;
  width: 12px;
  background-color: black;
  margin-top: 5px;
  margin-left: 15px;
}

.text {
  font-size: 24px;
  font-family: Arial;
  font-weight: 700;
  text-transform: uppercase;
}

.text1 {
  font-size: 13px;
  font-family: Arial;
  font-weight: 300;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

.motorlist {
  width: 90%;
  margin: 0 auto;
}

.swiper-wrapper {
  display: flex;
  margin-left: 0px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(10%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.swiper-button-prev::after {
  content: none !important;
}

.swiper-button-next::after {
  content: none !important;
}

.swiper-button-prev i {
  color: black;
  font-size: 40px;
  margin-left: -11px;
}

.swiper-button-next i {
  color: black;
  font-size: 40px;
  margin-right: -11px;
}

.swiper-slide-duplicate {
  opacity: 0.99;
}

.swiper-slide {
  width: calc((100% - 40px) / 3) !important;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.motorlist ul {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.motorlist ul li {
  list-style: none;
}

.hover {
  display: inline-block;

  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: visible;
}

.item {
  display: block;
  text-align: center;
  text-decoration: none;
}

.item img {
  width: 70%;
  height: 70%;
  transition: transform 0.3s ease;
}

.hover:hover .item img {
  transform: scale(1.05);
}

.name {
  color: black;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.hover:hover .name {
  color: rgb(216, 49, 49);
}

.cost {
  color: rgb(113, 112, 112);
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
}

.subscribe {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  text-decoration: none;
  transition: opacity 0.3s ease, color 0.3s ease;
  margin-top: 10px;
}

.hover:hover .subscribe {
  opacity: 1;
}

.subscribe:hover {
  color: rgb(216, 49, 49);
}

.mainchoice {
  background-color: rgb(238, 237, 237);
  width: 100%;
  height: 30px;
  margin-top: 40px;
  align-items: center;
  display: flex;
  padding: 25px 0px 25px 0px;
}

.mainchoice .choice-list {
  height: 27px;
  width: 100%;
}

.mainchoice .list {
  display: flex;
  gap: 50px;
  margin-top: 0;
}

.mainchoice .list li {
  list-style: none;
  cursor: pointer;
}

.mainchoice .list li:hover .choice {
  color: blue;
}

.choice-icon-change {
  display: none;
}

.choice-icon {
  margin-right: 10px;
}

.mainchoice .list li:hover .choice-icon {
  display: none;
}

.mainchoice .list li:hover .choice-icon-change {
  display: block;
  margin-right: 10px;
}

.mainchoice .list li .choice {
  align-items: center;
  font-size: 17px;
  text-decoration: none;
  font-weight: 500;
  font-family: League Spartan;
  word-wrap: none;
  color: black;
  display: flex;
}

.inform {
  margin-top: 30px;
  width: 100%;
  background: linear-gradient(to bottom, #3b3b3b, #707070);
}

.inform .inform-container {
  width: 100%px;
  height: 100%;
  margin: 0 auto;
}

.inform1 {
  width: 100%;
  display: flex;
  justify-content: left;
}

.inform1 .illustration {
  width: 50%;
}

.text-inform {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  margin-left: 70px;
}

.text-inform div {
  width: 400px;
}

.text-inform div span {
  font-size: 30px;
  font-family: Anuphan;
  color: white;
  font-weight: 700;
  word-wrap: break-word;
  text-transform: uppercase;
}

.text-inform div div {
  margin-top: 25px;
}

.text-inform div div p {
  color: white;
  font-size: 16px;
  font-family: League Spartan;
  font-weight: 400;
  line-height: 23px;
  word-wrap: break-word;
}

.moreinform {
  text-decoration: none;
}
.moreinform .moreinform-button {
  width: 180px;
  text-align: center;
  padding: 10px;
  padding-top: 12px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: League Spartan;
  font-weight: 700;
  word-wrap: break-word;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
}

.moreinform .moreinform-button:hover {
  background: #a72c2c;
}

.inform .inform-container {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.inform2 {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: -100px;
}

.inform2 .illustration {
  width: 50%;
}

.text-inform1 {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  float: right;
  margin-left: 0px;
}

.text-inform1 div {
  width: 400px;
  margin-right: 70px;
}

.text-inform1 div div {
  margin-top: 25px;
}

.text-inform1 div span {
  font-size: 30px;
  font-family: Anuphan;
  color: white;
  font-weight: 700;
  word-wrap: break-word;
  text-transform: uppercase;
}

.text-inform1 div div p {
  color: white;
  font-size: 16px;
  font-family: League Spartan;
  font-weight: 400;
  line-height: 23px;
  word-wrap: break-word;
}

.moreinform {
  text-decoration: none;
}

.news-container {
  width: 1380px;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  padding-top: 75px;
}

.news-container .title {
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-family: Anuphan;
  font-weight: 500;
  text-align: left;
}

.card-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-container .card {
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card img {
  filter: brightness(100%);
  transition: filter 1s ease;
  width: 100%;
}

.card:hover .intro {
  height: 43%;
}

.stick-content {
  left: 33px;
  position: absolute;
  top: 130px;
  width: 80%;
  height: 8px;
  background: #7f7f7f;
  opacity: 1; /* Đảm bảo ban đầu opacity là 1 */
  transition: opacity 0.1s ease-in-out; /* Thêm thời gian chuyển đổi cho opacity */
}

.card.active .stick-content {
  opacity: 0; /* Khi lớp 'active' được thêm vào, opacity của stick-content sẽ giảm xuống 0 */
}

.card:hover .stick-content {
  background-color: rgb(94, 94, 244);
}

.intro {
  position: absolute;
  bottom: 4px; /* Đặt bảng ở dưới cùng của ảnh */
  left: 0;
  width: 48.6%;
  background-color: white;
  padding: 20px 20px 0px 20px;
  text-align: left;
  height: 40%; /* Ban đầu bảng có chiều cao là 30% chiều cao của hình ảnh */
  box-sizing: border-box;
  z-index: 2;
  transition: height 0.6s ease; /* Hiệu ứng thay đổi chiều cao */
}

.intro a {
  display: none;
  position: absolute;
  top: 300px;
  left: 70px;
}

.card.active .intro a {
  display: block;
}
.news-title {
  color: black;
  font-size: 20px;
  font-family: League Spartan;
  text-transform: uppercase;
  font-weight: 700;
}
.content {
  font-size: 18px;
  font-family: League Spartan;
  font-weight: 600;
}
.more-content {
  display: none;
}

.card.active .intro {
  height: 100%; /* Khi click, bảng trắng sẽ có chiều cao 100% */
}

.card.active .stick-content {
  opacity: 0;
}

.card.active .more-content {
  font-size: 15px;
  font-family: League Spartan;
  font-weight: 300;
  line-height: 31px;
  word-wrap: break-word;
  display: block;
}

.card.active img {
  filter: brightness(40%);
}

.bottom-news {
  width: 100%;
  position: relative;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}
.card2 {
  margin-top: 0px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.card2 img {
  width: 100%;
  margin: 0;
}

.intro1 {
  position: absolute;
  bottom: 4px; /* Đặt bảng ở dưới cùng của ảnh */
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px 20px 0px 20px;
  text-align: left;
  height: 40%; /* Ban đầu bảng có chiều cao là 30% chiều cao của hình ảnh */
  box-sizing: border-box;
  z-index: 2;
  transition: height 0.6s ease; /* Hiệu ứng thay đổi chiều cao */
}

.card2.active .intro1 a {
  display: block;
}

.card2.active .stick-content {
  opacity: 0; /* Khi lớp 'active' được thêm vào, opacity của stick-content sẽ giảm xuống 0 */
}

.card2:hover .stick-content {
  background-color: rgb(94, 94, 244);
}

.card2:hover .intro1 {
  height: 43%;
}

.card2.active .intro1 {
  height: 100%;
}

.card2.active .more-content {
  font-size: 15px;
  font-family: League Spartan;
  font-weight: 300;
  line-height: 31px;
  word-wrap: break-word;
  display: block;
}

.intro1 a {
  display: none;
  position: absolute;
  top: 300px;
  left: 70px;
}

.card2.active .intro a {
  display: block;
}

.Subscribe-container {
  background-image: url("Motobikes/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 540px;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-items: center;
  z-index: 0;
  justify-content: center;
  padding-top: 50px;
}

.Subscribe-container span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 2;
  margin-top: 40px;
  display: inline-block;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 30%;
  z-index: -1;
}

.table {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
}

.select-box {
  width: 100%;
  padding: 10px;
  margin-top: 26px;
}

.input-box1 {
  width: 405px;
  padding: 10px;
}

.input-box2 {
  margin-left: auto;
  width: 150px;
  padding: 5px;
}

.input-box {
  width: 100%;
  padding: 10px;
}

.table button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  border: 1px solid white;
  color: black;
}

.table button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1000px) {
  .input-box1,
  .input-box2 {
    width: 100%;
  }
}

.footer {
  margin-top: 30px;
  background-color: rgba(242, 242, 242, 0.904);
  width: 100%;
  height: 400px;
}

.footer-table {
  width: 100%;
  padding-top: 65px;
  margin-top: 0px;
  border-spacing: 20px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.first-row {
  width: 50%;
}

.first-row span {
  margin-left: 20px;
  font-size: 16px;
}

.first-row1 {
  width: 30%;
  vertical-align: top;
  padding-top: 10px;
}

.second-row {
  width: 25%;
}
.motorbike-link {
  color: black;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.motorbike-link:hover {
  font-weight: 600;
}

.side-link {
  color: black;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.side-link:hover {
  font-weight: 600;
}
.choice-row {
  margin-left: 20px;
  background-color: black;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 1000;
}

.choice-row img {
  margin-bottom: -5px;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.choice-row:hover {
  background-color: blue;
}

.social-media {
  list-style: none;
  display: flex;
  gap: 30px;
}

.link a {
  text-decoration: none;
  font-weight: 300;
  color: black;
  align-content: center;
  justify-content: center;
  display: flex;
  min-width: 130px;
}

.link img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.arrow {
  width: 15px;
  height: 15px;
  margin-left: 17px;
}

.link a:hover {
  font-weight: 600;
}

.extra-footer {
  background-color: white;
  height: 200px;
  width: 100%;
  display: flex;
  text-align: right;
  position: relative;
}

.lang-box {
  height: 16px;
  margin-left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 7px;
  margin: 50px 0px 0px 20px;
}
.lang-box .img1 {
  width: 18px;
  height: 18px;
}

.lang-box span {
  font-size: 17px;
  color: rgb(141, 141, 141);
}

.lang-box .img2 {
  width: 18px;
  height: 18px;
  display: none;
}

.lang-box:hover .img2 {
  display: block;
}

.lang-box:hover .img1 {
  display: none;
}

.lang-box:hover span {
  color: blue;
}

.sologan {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 1000;
  align-items: right;
}

.highlight {
  margin-top: 50px;
  height: 20px;
  border-bottom: 5px solid;
  margin-left: auto;
  margin-right: 30px;
  text-align: right;
  display: flex;
  padding-right: 10px;
  padding-bottom: 8px;
}
